/* ************************************ testimonial ********************** */
.testimonial {
    width: 100%;
    background-color: #F8F9FA;
    text-align: center;
    padding: 100px 0;
}
.testimonial h5 {
    font-weight: 600;
    letter-spacing: 2px;
    color: #950740;
}
.testimonial h1 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 10px;
}

/* cliennts */
.clients {
    width: 1080px;
    margin: 50px auto 0px; 
    overflow: hidden;
}
.clients .card {
    width: 2880px;
    display: flex;
    transition: .5s;
}

.clients .card .people {
    width: 340px;
    margin: 0 10px;
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
}
.people img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 30px auto 20px;
    background-color: rgba(0, 0, 0, 0.212);
}

/* review  name profession*/
.people #review {
    padding: 0 24px 20px ;
    color: rgba(0, 0, 0, 0.4);
}
.people #name {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.people #profession{
    color: #950740;
    padding-bottom: 50px;
}

/* btn */
.btncontanner {
    width: 100%;
    box-sizing: border-box;
}
.btn {
    /* width: 10px; */
    margin: 0 1px;
    cursor: pointer;
    font-size: 12px;
    transition: 1s;
}
.active {
    color: #950740;
    transform:rotate(45deg);
}
@media only screen and (max-width : 980px) {
    /* cliennts */
    .clients {
        width: 360px;
    }
    .clients .card .people {
        width: 300px;
        margin: 0 30px 30px; 
    }
}